<div id="logo-bar">
    <a href="{{site.baseurl}}/">
        <img alt="Company logo" class="logo" src="{{site.baseurl}}/images/logo.png">
    </a>
</div>

<div id="page-search">
    {% include search.html %}
</div>

<span class="show-search">
	<span class="k-icon k-i-search"></span>
</span>

<div class="nav-buttons">
    <a href="/financial/index" class="btn about-btn">Financial</a>
    <a href="/mapping/index" class="btn about-btn">Mapping</a>
    <a href="/planning/index" class="btn about-btn">Planning</a>
    <a href="/financial/tca/index" class="btn about-btn">TCA</a>
    <a href="/webportals/index" class="btn about-btn">Web Services</a>
</div>
